<div class="file-upload">
  <button class="file-upload-btn" type="button" (click)="readURL($event)">Add Image</button>

  <div class="image-upload-wrap" [style.display]="wrapperIsVisible ? 'block' : 'none'">
    <input class="file-upload-input" type='file' (change)="readURL($event)" accept="*/*" multiple="multiple" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content" [style.display]="contentIsVisible ? 'block' : 'none'">
    <div class="file-name" *ngFor="let file of files">{{file.name}}</div>
    <div class="image-title-wrap">
      <button type="button" (click)="uploadData()" class="extract-data">
        Extract <span>From Files</span>
      </button>
      <button type="button" (click)="removeUpload()" class="remove-data">
        Remove <span class="image-title">Uploaded Image</span>
      </button>
    </div>
  </div>
</div>
