<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
  <button class="file-upload-btn" type="button" (click)="readURL($event)">Add Image</button>

  <div class="image-upload-wrap" [style.display]="wrapperIsVisible ? 'block' : 'none'">
    <input class="file-upload-input" type='file' (change)="readURL($event)" accept="*/*" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content" [style.display]="contentIsVisible">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" (click)="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
  </div>
</div>
